*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.maindiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;    
}
.maindiv .card img{
    width: 100%;
    max-height: 300px;
    border-radius: 10px 10px 0px 0px;
}
.maindiv .card .text-div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.maindiv .card .text-div .releasediv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}